.navbar {
    background-color: #007bff;
    padding: 1rem;
    width:"100%";
  
    &__brand {
      color: #fff;
      font-weight: bold;
      margin-right: 2rem;
    }
  
    &__links {
      list-style: none;
      display: inline-block;
      margin: 0;
      padding: 0;
  
      li {
        display: inline;
        margin-left: 1rem;
  
        a {
          color: #fff;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  